body {
    font-family: Arial, sans-serif;
    height: 100vh; /* Om de hoogte van het scherm te vullen */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(IMG/achtergrondtuin2.png);
    background-size: cover;
}

/* ---------------------------------------------------------------------------------------------------------------- */
/* STARTSCHERM */
.beginscherm{
    background-image: url(IMG/achtergrondtuin1.png);
    background-size: cover;
}



/* ---------------------------------------------------------------------------------------------------------------- */

/* PLANTEN PAGINA */

/* flexbox/// 
zorgt ervoor dat alles op zn plek staat
bron 1: https://flexboxfroggy.com/#nl :) 
bron 2: https://chatgpt.com/share/04414461-e72a-4c5d-8739-e19ac0ab511f */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3em;
   
}



.plantenvak {
    text-align: center;
    width: 100%;  
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
    



/* healthbar */
/* bron 1:  */
progress {
    background-color:white;
    width: 24em; 
    height: 2em; 
    border: none; 
    border-radius: 1em;
    transform: rotate(-90deg); 
  
}

progress::-moz-progress-bar {
    background-color: #ff0095;
}


/* knoppen */

ul {
    display: flex;
    flex-direction: column; 
    margin: 0; 
    list-style: none;
    padding: 0; 
}

li {
    margin-bottom: 2em; /* Ruimte tussen de knoppen */
}

.knoppen {
    width: 10em;
    height: auto;
    cursor: pointer;  
    padding-right: 7em;
}




/* plant */

.plantenvak img {
    width: 200%; 
    height: auto; 
    text-align: center;

}
